@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --favicon-size: 48px;
  --color: rgb(18,18,18);
}

@font-face {
  font-family: "utdr";
  src: url("/fonts/utdr.woff") format("woff");
}

.ff-utdr {
  font-family: "utdr", serif;
}


html,
body {
  color: var(--color);
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-size: 14pt;
}

.fg-color {
  color: var(--color);
}

body {
  padding-right: 0 !important;
}

#favicon {
  width: var(--favicon-size);
  height: var(--favicon-size);
}

.text-decoration-none {
  text-decoration: none;
}

.text-shadow {
  text-shadow: 0.1rem 0.1rem 0.25rem black, 0.1rem 0.1rem 0.25rem black, 0.1rem 0.1rem 0.25rem black;
}

.fs-tiny {
  font-size: 0.6rem;
}

.secret-text {
  text-shadow: 4px 4px #222;
}

#secrets {
  animation: hollow 4s linear infinite;
}

#links > * {
  padding-left: 4px;
  padding-right: 4px;
}

.divider {
  height: 6rem;
}