:root {
  --favicon-size: 48px;
  --website-header-height: calc(var(--favicon-size) + 16px + 1px);
  --color: black;
  --accent-color: #77d694;
  --accent-color-20: #77d69420;
  --accent-secondary-color: #9f16b1;
  --accent-secondary-color-20: #9f16b120;
}

#favicon {
  width: var(--favicon-size);
  height: var(--favicon-size);
}

.text-decoration-none {
  text-decoration: none;
}

.hover-dim {
  background-color: inherit;
  transition: background-color 250ms;
}

.hover-dim:hover {
  background-color: #00000040 !important;
}

.hover-accent-dim {
  background-color: inherit;
  color: inherit;
  transition: all 250ms;
}

.hover-accent-dim:hover {
  color: black;
  background-color: var(--accent-color);
}

.hover-underline {
  border-bottom: 1px solid transparent;
  transition: border-bottom 250ms;
}

.hover-underline:hover {
  border-bottom: 1px solid var(--color);
}

.border-accent {
  border-top-color: var(--accent-color) !important;
  border-left-color: var(--accent-color) !important;
  border-bottom-color: var(--accent-color) !important;
  border-right-color: var(--accent-color) !important;
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-accent-secondary {
  background-color: var(--accent-secondary-color);
}

.bg-accent-20 {
  background-color: var(--accent-color-20);
}

.bg-accent-secondary-20 {
  background-color: var(--accent-secondary-color-20);
}

.fs-tiny {
  font-size: 0.6rem;
}

.container-grid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 3fr 9fr;
}

#aside-parent {
  display: block;
  height: calc(100vh - var(--website-header-height));
  position: sticky;
  top: var(--website-header-height);
}

body {
  padding-right: 0 !important;
}