:root {
  --favicon-size: 48px;
  --color: rgb(243, 242, 239);
  --background-color: rgb(109, 123, 129);
  --accent-color: rgb(179, 255, 231);
  --accent-color-20: rgb(179, 255, 231, 0.2);
  --accent-secondary-color: rgb(56, 197, 156);
  --accent-secondary-color-20: rgb(56, 197, 156, 0.2)
}

html,
body {
  background-color: var(--background-color);
  color: var(--color);
}

button>svg,
a>svg {
  filter: invert(1);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) #ffffff;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

header {
  background-color: var(--accent-secondary-color-20);
  backdrop-filter: blur(0.4rem);
}

footer {
  background-color: var(--accent-secondary-color-20);
  backdrop-filter: blur(0.4rem);
}

#favicon {
  width: var(--favicon-size);
  height: var(--favicon-size);
}

.text-decoration-none {
  text-decoration: none;
}

.hover-dim {
  background-color: inherit;
  transition: background-color 250ms;
}

.hover-dim:hover {
  background-color: #00000040 !important;
}

.hover-dark-dim {
  background-color: inherit;
  transition: all 250ms;
}

.hover-dark-dim:hover {
  background-color: #000000A0 !important;
}

.hover-accent-dim {
  background-color: inherit;
  color: inherit;
  transition: all 250ms;
}

.hover-accent-dim:hover {
  color: black;
  background-color: var(--accent-color);
}

.hover-accent-secondary-dim {
  background-color: inherit;
  color: inherit;
  transition: all 250ms;
}

.hover-accent-secondary-dim:hover {
  color: white;
  background-color: var(--accent-secondary-color);
}

.hover-underline {
  border-bottom: 1px solid transparent;
  transition: border-bottom 250ms;
}

.hover-underline:hover {
  border-bottom: 1px solid var(--color);
}

.border-accent {
  border-top-color: var(--accent-color) !important;
  border-left-color: var(--accent-color) !important;
  border-bottom-color: var(--accent-color) !important;
  border-right-color: var(--accent-color) !important;
}

.bg-accent {
  background-color: var(--accent-color);
}

.bg-accent-secondary {
  background-color: var(--accent-secondary-color);
}

.bg-accent-20 {
  background-color: var(--accent-color-20);
}

.bg-accent-secondary-20 {
  background-color: var(--accent-secondary-color-20);
}

.bg-screen {
  background-color: #0008;
  backdrop-filter: blur(0.4rem);
}

.text-shadow {
  text-shadow: 0.1rem 0.1rem 0.25rem black, 0.1rem 0.1rem 0.25rem black, 0.1rem 0.1rem 0.25rem black;
}

.fs-tiny {
  font-size: 0.6rem;
}

body {
  padding-right: 0 !important;
}

@font-face {
  font-family: "utdr";
  src: url("/fonts/utdr.woff") format("woff");
}

.ff-utdr {
  font-family: "utdr", serif;
}

.secret-text {
  text-shadow: 4px 4px #222;
}

#secrets {
  animation: hollow 4s linear infinite;
}