@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import 'https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap';

html, body {
  background-color: #000000;
}

.bg-success-subtle {
  background-color: #000000 !important;
}

* {
  font-display: swap !important;
  font-family: 'Oxygen' !important;
}